/*Body*/
body {
	background: url("../img/pattern1.jpg");

}
/* first frame */
nav {
  
  
  position: inline-block;
  
  
  transition: top .25s;
  
}

/* last frame */
nav:hover {
  top: 10px;
}


/*Headers*/

h1 {
	font-family: 'Poiret One', cursive;
	color: #407CC9;
}

h2 {
	font-family: 'Pacifico', cursive;
	color: #90C0C0;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #9794D2;
}


/*Body text*/

p {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 1.25em;
	font-size: 1.25em;
	color: #181818;
}

.one {
	font-family: 'Poiret One', cursive;
	font-size: 1em;

}

.two {
	font-family: 'Pacifico', cursive;
	font-size: 1em;
}


.three {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
}


/*Links*/

a:link, 
a:visited {
	text-transform: uppercase;
	text-decoration: none;
	color: #90C0C0;
}

a:hover, 
a:active {
	background: #9794D2;
}




/* Set Your Own Margin & Padding */


h1, h2, h3, p {
	margin: 20px 20px;
}

/* Layout for Style Tile*/

.box {
	background-color: rgba(252, 247, 243, 0.9);
	

}

img {
	width: 200px;
	height: 300px;
	position: inline-block;
	margin: 20px 20px;
}

section {
	margin: 20px 20px;

}



.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 20px 10px;
	height: 50px;
	width: 50px;
}

.colors, .patterns {
	margin: 20px 20px;
	float: left;

}
/*Color Pallette*/

.color-1 {
	background: #407CC9;
}

.color-2 {
	background: #90C0C0;
}

.color-3 {
	background: #9794D2;
}

.color-4 {
	background: #181818;
}



/*Textures*/

.pattern-1 {
background-image: url("../img/pattern1.jpg");

}

.pattern-2 {
	background: #FCF7F3;
	}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}