/*Body*/
body {
	background: url("../img/pattern1.jpg");


}

/*Headers*/

h1 {
	font-family: 'Poiret One', cursive;
	color: #407CC9;
}

h2 {
	font-family: 'Pacifico', cursive;
	color: #90C0C0;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}
}
/*Body text*/
p {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 1.5em;
	color: #181818;
}

/*Links*/

a:link, 
a:visited {
	text-transform: uppercase;
	text-decoration: none;
	color: #90C0C0;
}

a:hover, 
a:active {
	background: #9794D2;
}




/* Set Your Own Margin & Padding */


h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/

.box {
	background-color: rgba(255,255,255,.5);
}

img {
	width: 200px;
	height: 300px;
	position: inline-block;
}

section {
	margin: 20px 0;

}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/*Color Pallette*/

.color-1 {
	background: #407CC9;
}

.color-2 {
	background: #90C0C0;
}

.color-3 {
	background: #9794D2;
}

.color-4 {
	background: #181818;
}

/*Textures*/

.pattern-1 {
background-image: url("../img/pattern1.jpg");

}

.pattern-2 {
	background: url ("../img/pattern1.jpg")
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}